# DOCKER

## Installer docker-machine

Avec Git Bash :
https://docs.docker.com/machine/install-machine/

```bash
if [[ ! -d "$HOME/bin" ]]; then mkdir -p "$HOME/bin"; fi && \
curl -L https://github.com/docker/machine/releases/download/v0.7.0/docker-machine-Windows-x86_64.exe > "$HOME/bin/docker-machine.exe" && \
chmod +x "$HOME/bin/docker-machine.exe"
```

###  Création de la machine

```bash
docker-machine create -d virtualbox --virtualbox-memory 1096 --virtualbox-disk-size 30000 default
````

## Installer docker-compose

```bash
if [[ ! -d "$HOME/bin" ]]; then mkdir -p "$HOME/bin"; fi && \
curl -L https://github.com/docker/compose/releases/download/1.7.1/docker-compose-Windows-x86_64.exe > "$HOME/bin/docker-compose.exe" && \
chmod +x "$HOME/bin/docker-compose.exe"
```

Définir l'environnement pour utiliser la commande docker sur la machine hôte

https://docs.docker.com/machine/reference/env/

Ajouter le chemin dans la variable d'environnement Path : "C:\Users\[USERNAME]\bin"

## Utilisation docker-machine

```bash
docker-machine env
````



Créer une image Docker
=> Images officielles sur hub.docker.com

Utilisation du Dockerfile
$ docker build . 
=> pour éxecuter les commandes dans le Dockerfile et construire l'image



Questions
- Switcher l'application d'un environnements à l'autre (différentes versions de php )
Utilisation de varaible d'environnement dans

